<%- include('./header.ejs') %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
  .container1 {
    color: black;
    font-size: 50px;
    margin: 50px;
    text-align: center;
    padding: 150px;

    height: 100%;
  }
  .container {
     
      display: block;
     background-position: center center;
     background-size: cover;
  }
  .container0{
  
  height: 527px;
   width: 1540px;
   display: block;
  background-position: center center;
  background-size: cover;
}
  .container11{
     background-image: url(https://www.georgetown.edu/wp-content/uploads/2019/08/20120319-Campus_0036-3000x1688-c--light-default.jpg);
     display: block;
     background-position: center center;
     background-size: cover;
 }
 p{
     font-size:25px ;
   }
   h1,h4{
     font-size: 60px;
   }
   
  .section-header h1{
     padding:60px 0;

  }
  .section-padding{
   padding:50px 0;

  }
  .ff{
   position: relative;
   left: 787px;
   top: 2px;
   width: 732px;
   height: 830px;

  }
  .ff2{
   width: 532px;
   height: 530px;
  }
  .ff3{
   width: 920px;
   height: 635px;
  }
  .about-text1 p{
   position: relative;
   right: 496px;
   top: 220px;
   font-size:180%;
  }
  .about-textf{
   position: relative;
   right: -12%;
   font-size:180%;
  }
  .our{
   position: relative;
   right: -45%;
  }
  .container2{
     background-image: url(https://www.georgetown.edu/wp-content/uploads/2019/09/20180919_CampusStockFall-0751-3000x1688-c--light-default.jpg);
     padding:50px 0;
     display: block;
     background-position: center center;
     background-size: cover;
     color: #0c0c0c;
     text-align: center;
   }
   .v {
       border-right: 1px solid rgb(14, 13, 13);
       height: 300px;
   }
   .v1{
     border-right: 1px solid rgb(241, 234, 234);
       height: 820px;

   }
   .container{
     padding:10px 0;
     display: block;
     background-position: center center;
     background-size: cover;
     color: #d6cbcb;
     text-align: center;
   }
   .container img {
 height: 50px;
 width: 50px;
}
.containerr img {
  height: 500px;
    width: 500px;
}
.containerr{
     padding:10px 0;
     display: block;
     background-position: center center;
     background-size: cover;
     color: #d6cbcb;
     text-align: center;
   }
.img-fluid {
 max-width: 88%;
 height: auto;
}
img, svg {
 vertical-align: middle;
}
.fff{
 width: 755px;
 height: 482px;
 transition: transform 2s;
  }
  .fff:hover{
   transform: scale(1.3);
  }
.row{
   --bs-gutter-x:-0.5rem;
   overflow: hidden;

  }

.containerss.fff{

 -webkit-transition: -webkit-transform 0.3s ease-in-out;
 transition: -webkit-transform 0.3s ease-in-out;
 transition: transform 0.3s ease-in-out;
 transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
/*responsive*/
@media only screen and(mix-width:769px) and (max-width:991px) {
        .container0{
          bottom: 370px;
        }
        .container11{
          bottom: 370px;
        }
        .container11 p{
          width: 100%;
        }
        .container11 h1{
          width: 100%;
        }
        h1{
          font-size: 17px;
        }
       }

 
</style>
</head>
<body>
 <section id="about"style=" background-image: url(https://www.georgetown.edu/wp-content/uploads/2019/09/20190518_Commencement_College-0181-2000x750-c-default.jpg)";>
     <div class="container0">
       </div>
    
    </section>
    <section id="portfolio" class="portfolio section-padding1">
     <div class="container11">
       <div class="row">
         <div class="col-md-12">
           <div class="section-header text-center pb-5">
             <h1>Who We Are</h1>
             <p>We’re a leading research university with a heart. Founded in the decade that the U.S. <br>Constitution was signed, we’re the nation’s oldest Catholic and Jesuit university.<br>Today we’re a forward-looking, diverse community devoted to social justice, restles<br>inquiry and respect for each person’s individual needs and talents.of knowledge,&nbsp  it is an <br>act of collaboration and practice.you’ll leave Georgetown with the intellectual<br> skills of perception, analysis,interpretation and expression.</br>
             </p>
           </div>
         </div>
       </div>
     </div>
    </section>
    <section id="about" class="about section-padding" style="background-image: url(https://www.georgetown.edu/wp-content/uploads/2019/09/20170412_HealyHall_SunFlare-2-1-3000x1688-c--light-default.jpg); display: block; background-position: center center; background-size: cover; ">
     <div class="containers">
       <div class="row">
         <div class="col-lg-4 col-md-17 col-17">
           <div class="about-img">
             <img  class="ff2"src="https://www.georgetown.edu/wp-content/uploads/2019/10/20180920_GeorgetownSunsetStock-1118-1024x683.jpg"style="height: 100px, width: 100px;;"alt=""class="img-fluid">
           </div>
         </div>
         <div class="col-lg-8 col-md-18 ps-lg-5 mt-md-5">
         <div class="about-textf">
           <h4 >We Are Georgetown</h4>
           <p>We’re a community of people who bridge our disparate experiences and<br> identities. Meet the people and places that make Georgetown home.<br>We’re a community of people who bridge our disparate experiences <br>and identities. Meet the people and places that make Georgetown home <br>We’re a community of people who bridge our disparate experiences and identities. </p>
           
         </div>
         </div>
       </div>
     </div>
    </section>
    <section id="about" class="about section-padding" style="background-image: url(https://www.georgetown.edu/wp-content/themes/georgetown/pattern_lab/source/images/icons/testimonialquote.svg);background-repeat: no-repeat;">
     <div class="containers">
       <div class="row">
         <div class="col-lg-4 col-md-12 col-12">
           <div class="about-img1">
             <img class=" ff"src="https://www.georgetown.edu/wp-content/uploads/2019/09/ayo-1800x1800-c-default.jpg"alt=""class="img-fluid">
           </div>
         </div>
         <div class="col-lg-8 col-md-12 ps-lg-5 mt-md-5">
         <div class="about-text1">
           <p>“Georgetown is home to me not because of the fancy<br> buildings like Healy Hall, or its prestigious reputation, <br>but rather because of the university’s care for the whole<br> person as each  of us attempts to live our lives for others.”</p>
         </div>
         </div>
       </div>
     </div>
    </section>
    
    <section id="about" class="about section-padding" style="background-image: url(https://www.georgetown.edu/wp-content/uploads/2019/09/20170412_HealyHall_SunFlare-2-1-3000x1688-c--light-default.jpg);">
     <div class="containers">
       <div class="row">
         <div class="col-lg-4 col-md-17 col-17">
           <div class="about-img">
             <img  class="ff3"src="https://www.georgetown.edu/wp-content/uploads/2019/09/C13_QA-Carousel-Slide3-2000x1500-c-default.jpg"style="height: 100px, width: 100px;;"alt=""class="img-fluid">
           </div>
         </div>
         <div class="col-lg-8 col-md-18 ps-lg-5 mt-md-5">
         <div class="our">
           <h4 >Our Core Values</h4>
           <p>Our holistic approach to education, the rigorous <br>spirit of inquiry that makes our community <br>and alumni a force for change in the world, our <br>commitment to social justice<br> – all underly everything we do as an institution<br> with a rich Catholic and Jesuit heritage </p>
           
         </div>
         </div>
       </div>
     </div>
    </section>
   </section>
   <section>
     <div class="container2">
       <div class="row">
         <div class="col">
          <div class="v">
          <h1><center>17,000</h1>
          <h2>Students from 135 countries</h2>
          <p>currently enrolled</p> </center>
          
          </div>
         </div>
         <div class="col">
           <div class="v">
             <h1><center>9</h1>
               <h2>Faith traditions</h2>
               <p>represented by campus ministry<br> chaplaincies</p> </center>
            </div>
         </div>
         <div class="col">
           <h1><center>200,000</h1>
             <h2> Total alumni</h2>
             <p>in the global Georgetown network</br></p> </center>
             
         </div>
       </div>
     </div>
    </section>
    <section id="about" class="about section-padding" style="background-image: url(https://www.georgetown.edu/wp-content/uploads/2019/09/20150324-Campus_0006-2-2000x1125-c--dark-default.jpg); display: block; background-position: center center; background-size: cover; ">
    <div class="containerr">
     <div class="row">
       <div class="col">
         <div class="v1">
           <img src="https://www.georgetown.edu/wp-content/uploads/2022/01/Daelyn-Waters-Headshot-1920x1080-1-scaled-1-1050x1050-c-default.jpeg"alt=""class="img-fluid">
           <h1><center></h1>
             <p>“My favorite thing about Georgetown is the endless array of opportunities this university affords both within and beyond the classroom. From extracurriculars to internships, clubs and jobs, this university truly has something for everyone.” — Daelyn</p> </center>            </div>
       </div>
       <div class="col">
         <div class="v1">
           <img src="https://www.georgetown.edu/wp-content/uploads/2019/10/ChandanVaidya2-1050x1050-c-default.jpg"alt=""class="img-fluid">
           <h1><center></h1>
             
             <p>“Research is detective work and that is what truly appealed to me… I try to focus on what gets me excited, and that is really appealing to students’ imaginations and framing it in the context of discovery.” – Professor Chandan Vaidya</p> </center>
         </div>
       </div>
       <div class="col">
         <div>
           <img src="https://www.georgetown.edu/wp-content/uploads/2019/09/Alaina_B._Teplitz_official_photo-1050x1050-c-default.jpg"alt=""class="img-fluid">
           <h1><center></h1>
             <p>“I was fortunate enough to have a couple of ambassadors and former ambassadors as professors, [and that] opened a whole new universe to me of opportunity. So, my time at the School of Foreign Service was really formative, and I am glad I can lean on it in some respects as ambassador.” – Alaina</p> </center>
         </div>
       </div>
     </div>
   </div>
 </div>
</section >
<section id="about" class="about section-paddings">
 <div class="containerss">
  <div class="row">
    <div class="col">
      <div class="back">
        <img  class="fff"src="https://www.georgetown.edu/wp-content/uploads/2019/02/large-BOD-story-1-20180919_CampusStockFall-1038-copy-1800x1013-c--shadow-default.jpg"style="height=100px,width: 180px;"alt=""class="img-fluid">
        <h1><center></h1>
          </center>         
       </div>
    </div>
    <div class="col">
      <div class="back">
        <img  class ="fff"src="https://www.georgetown.edu/wp-content/uploads/2019/09/OurHistory-1800x1013-c--shadow-default.jpg"style="height=100px,width: 180px;"alt=""class="img-fluid">
        <h1><center></h1>
          
          </center>
      </div>
    </div>
  </div>
</div>
</div>
</section >
<%- include('./footer.ejs') %>




   