<%- include('./header.ejs') %>
    <style>
     .container0 img{
        height: 527px;
         width: 1540px;
     }
     
     .container1{
        background-image: url(https://www.georgetown.edu/wp-content/uploads/2019/08/20120319-Campus_0036-3000x1688-c--light-default.jpg);
        display: block;
        background-position: center center;
        background-size: cover;
    }
    p{
        font-size:25px ;
      }
      h1,h4{
        font-size: 60px;
      }
      
     .section-header h1{
        padding:36px 0;

     }
     .section-padding{
      padding:45px 0;

     }
     .ff{
      position: relative;
      left: 787px;
      top: 2px;
      width: 732px;
      height: 830px;

     }
     .ff2{
      width: 832px;
      height: 500px;
     }
     .ff3{
      width: 920px;
      height: 635px;
     }
     .about-text1 p{
      position: relative;
      right: 496px;
      top: 220px;
      font-size:180%;
     }
     .about-textf{
      position: relative;
      right:  -36%;
      font-size:180%;
     }
     .our{
      position: relative;
      right: 52%;
      top: 130px;
     }
     .container2{
        background-image: url(https://www.georgetown.edu/wp-content/uploads/2019/09/20180919_CampusStockFall-0751-3000x1688-c--light-default.jpg);
        padding:50px 0;
        display: block;
        background-position: center center;
        background-size: cover;
        color: #0c0c0c;
        text-align: center;
      }
      .v {
          border-right: 1px solid rgb(14, 13, 13);
          height: 300px;
      }
      .v1{
        border-right: 1px solid rgb(241, 234, 234);
          height: 820px;

      }
      .container0{
        padding:10px 0;
        display: block;
        background-position: center center;
        background-size: cover;
        color: #d6cbcb;
        text-align: center;
      }
      .container0 img {
    height: 50px;
    width: 50px;
}
  .img-fluid {
    max-width: 88%;
    height: auto;
}
img, svg {
    vertical-align: middle;
}
.fff{
    width: 419px;
    height: 391px;
    transition: transform 2s;

     }
     .fff:hover{
      transform: scale(1.1);
      
}
     
 .row{
      --bs-gutter-x:-0.5rem;
      overflow: hidden;

     }

.containerss.fff{
  
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.p{
    width:51px;
    position: absolute;
    left: 671px;
    top: 1529px;
    outline: 0.1875rem solid #FFF;
  }
  .video-player{
    outline: none;
      position: relative;
      left: 640px;
      top:-415px;
      width: 900px;
      height: 530px;
    display: none;

  }
  .ff{
      position: relative;
      left: 450px;
      top: -227px;
      width: 887px;
      height: 516px;

     }
     .ff0{
      position: relative;
      left: 633px;
      top: -59px;
      width: 876px;
      height: 734px;

     }
     .ff8{
      position: relative;
      left: -200px;
      top: -139px;
      width: 730px;
      height: 516px;

     }
     .t{
      position: relative;
      right: -13%;
      font-size: 180%;
      top: 187px;
     }   
     .t1{
      position: relative;
      right: -812px;
    font-size: 163%;
    top: 328px;

     }  
     .p1{
    width:51px;
    position: absolute;
    left: 601px;
    top: 2467px;
    outline: 0.1875rem solid #FFF;
  } 
  .video-player1{
    outline: none;
      position: relative;
      left: -209px;
    top: -656px;
    width: 916px;
    height: 462px;
    display: none;

  }
  .navbar-nav a{
    font-size:15px;
    text-transform:uppercase;
    font-weight: 500;
   }
   .navbar-light.navbar-brand{
    color:#000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
   }
   .navbar-light.navbar-brand:focus,
   .navbar-light.navbar-brand:hover{
    color:#000;
   }
   .navbar-light.navbar-nav.navbar-link{
    color:#000;
   }
   .w-100{
    height:100vh;
   }
   .services .card-body i{
     font-size:50px;
   }
  
   
.navbar-toggler-icon {
    display: inline-block;
    width: 2.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 89%;
}
   @media (min-width:200px) and (max-width:480px) {

    .container11{
      height: 500px;
     width:  1274px;
     display: block;
    background-position: center center; 
    background-size: cover;
  }
  .navbar-nav{
    text-align: center;
 }
 .container0{
  padding: 4px 0;
  display: block;
  background-position: center left;
  /* background-size: cover; */
  /* color: #d6cbcb; */
  text-align: center;
}

   }
 
</style>
</head>
<body>
    <section class="container11"id="about" style="background-image: url(https://www.georgetown.edu/wp-content/uploads/2019/09/20180605_GUPolitics_MexicoTrip-274-2000x750-c-default.jpg) ;height: 500px; width:  1274px; display: block; background-position: center center; background-size: cover";>
        <div class="container0" >
            <div class="containers">
              <div class="row">
         
                <!-- <img src="https://www.georgetown.edu/wp-content/uploads/2019/09/20190518_Commencement_College-0181-2000x750-c-default.jpg"alt=""class="img-fluid"> -->
          </div>
        </div>
       </section>
       <section id="portfolio" class="portfolio section-padding1">
        <div class="container1">
          <div class="row">
            <div class="col-md-12">
              <div class="section-header text-center pb-5">
                <h1>Academic Life</h1>
                <p>We live at the intersection of teaching and doing, where learning is more than the <br>transmission of knowledge,&nbsp  it is an act of collaboration and practice.Under the<br> mentorship of our distinguished faculty, you’ll go beyond the information to not just learn<br> about your field, but also to learn your field’s way of thinking. Through lectures, small group <br>projects,independent studies, office hours, internships and more, &nbsp  &nbsp you’ll leave Georgetown<br> with the intellectual skills of perception, analysis, interpretation and expression.</br>
                </p>
                </p>
              </div>
            </div>
          </div>
        </div>
        <section id="about" class="about section-padding" style="background-image: url('');display: block; height: 700px;  background-repeat: no-repeat;">
          <div class="containers">
            <div class="row">
              <div class="col-lg-4 col-md-12 col-12">
                <div class="t">
                  <p>Explore the intersection of technology and society<br>. Learn about environmental justice. Take the famous Problem of God course. Our innovative courses inspire and invite you to help solve some of today’s most pressing local, national and global issues.</p>
                </div>
                
                <div class="about-textf">
                  <img class=" ff" onclick="show()" decoding="async" src="https://www.georgetown.edu/wp-content/uploads/2019/09/20190828_FatherPeter-Folan_Classroom-45444-2000x1125-c-default.jpg" id="im">
                  <!-- <img src="https://www.georgetown.edu/wp-content/themes/georgetown/pattern_lab/source/images/icons/btn-play-hover.svg"> -->
                </div>
                </div>
              
              <div class="about-text1" id="im">
                <img src="https://www.georgetown.edu/wp-content/themes/georgetown/pattern_lab/source/images/icons/btn-play-hover.svg" class="p" onclick="show()">
                <!-- <p>“Georgetown is home to me not because of the fancy<br> buildings like Healy Hall, or its prestigious reputation, <br>but rather because of the university’s care for the whole<br> person as each  of us attempts to live our lives for others.”</p> -->
              </div>
              <div class=" video-player" id="vid">
                <iframe class="youtube-video" tabindex="-1" id="vid" frameborder="0" allowfullscreen="1" allow="autoplay; accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" title="New South Dorm Tour" width="900" height="760" src="https://openaicomproductionae4b.blob.core.windows.net/production-twill-01/121dd5e0-eaea-424d-bdf2-db02ca1f5e55/gpt-4-92586ac_1080p60.mp4" type="video/mp4"></iframe>            <!-- <div class="video-player">
                <iframe class="youtube-video" data-video-id="Ox_sswClcOc" tabindex="-1" id="vid" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" title="New South Dorm Tour" width="840" height="520"  left=100px src="https://www.youtube.com/embed/Ox_sswClcOc?rel=0&amp;origin=https%3A%2F%2Fwww.georgetown.edu&amp;enablejsapi=1&amp;widgetid=1"></iframe>
              </div> -->
            </div>
          </div>
          
         </section>

       <section id="about" class="about section-padding" style="background-image: url('https://www.georgetown.edu/wp-content/uploads/2019/09/20180712_VentureLab_WeWork_-5479-3000x1688-c--light-default.jpg');display: block;background-repeat: no-repeat; ">
        <div class="containers">
          <div class="row">
            <div class="col-lg-4 col-md-12 col-12">
              <div class="t1">
                <h4 >Design Your Future</h4>
                <p>Explore the intersection of technology and society<br>. Learn about environmental justice. Take the famous Problem of God course. Our innovative courses inspire and invite you to help solve some of today’s most pressing local, national and global issues.</p>
              </div>
              
              <div class="about-textf">
                <img class=" ff8" onclick="show1()" decoding="async" src="https://www.georgetown.edu/wp-content/uploads/2019/09/20180712_VentureLab_WeWork_-5932-2000x1125-c-default.jpg" id="im">
                <!-- <img src="https://www.georgetown.edu/wp-content/themes/georgetown/pattern_lab/source/images/icons/btn-play-hover.svg"> -->
              </div>
              </div>
            
            <div class="about-text1" id="im1">
              <img src="https://www.georgetown.edu/wp-content/themes/georgetown/pattern_lab/source/images/icons/btn-play-hover.svg" class="p1" onclick="show1()">
              <!-- <p>“Georgetown is home to me not because of the fancy<br> buildings like Healy Hall, or its prestigious reputation, <br>but rather because of the university’s care for the whole<br> person as each  of us attempts to live our lives for others.”</p> -->
            </div>
            <div class=" video-player1" id="vid1">
              <iframe class="youtube-video" tabindex="-1" id="vid1" frameborder="0" allowfullscreen="1" allow="autoplay; accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" title="New South Dorm Tour" width="900" height="760" src="https://openaicomproductionae4b.blob.core.windows.net/production-twill-01/121dd5e0-eaea-424d-bdf2-db02ca1f5e55/gpt-4-92586ac_1080p60.mp4" type="video/mp4"></iframe>            <!-- <div class="video-player">
              <iframe class="youtube-video" data-video-id="Ox_sswClcOc" tabindex="-1" id="vid" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" title="New South Dorm Tour" width="840" height="520"  left=100px src="https://www.youtube.com/embed/Ox_sswClcOc?rel=0&amp;origin=https%3A%2F%2Fwww.georgetown.edu&amp;enablejsapi=1&amp;widgetid=1"></iframe>
            </div> -->
          </div>
        </div>
       </section>
      
        <div class="container2">
          <div class="row">
            <div class="col">
             <div class="v">
             <h1><center>17,000</h1>
             <h2>Students from 135 countries</h2>
             <p>currently enrolled</p> </center>
             
             </div>
            </div>
            <div class="col">
              <div class="v">
                <h1><center>9</h1>
                  <h2>Faith traditions</h2>
                  <p>represented by campus ministry<br> chaplaincies</p> </center>
               </div>
            </div>
            <div class="col">
              <h1><center>200,000</h1>
                <h2> Total alumni</h2>
                <p>in the global Georgetown network</br></p> </center>
                
            </div>
          </div>
        </div>
       </section>
       <section id="about" class="about section-padding" style="background-image: url(https://www.georgetown.edu/wp-content/uploads/2019/09/20170412_HealyHall_SunFlare-2-1-3000x1688-c--light-default.jpg);">
        <div class="containers">
          <div class="row">
            <div class="col-lg-4 col-md-17 col-17">
              <div class="about-img">
                <img  class="ff0"src="https://www.georgetown.edu/wp-content/uploads/2019/09/20190403_CherryBlossoms_Stock-0347-2000x1500-c-default.jpg"style="height: 100px, width: 100px;;"alt=""class="img-fluid">
              </div>
            </div>
            <div class="col-lg-8 col-md-18 ps-lg-5 mt-md-5">
            <div class="our">
              <h4 >Our Core Values</h4>
              <p>Our holistic approach to education, the rigorous <br>spirit of inquiry that makes our community <br>and alumni a force for change in the world, our <br>commitment to social justice<br> – all underly everything we do as an institution<br> with a rich Catholic and Jesuit heritage </p>
              
            </div>
            </div>
          </div>
        </div>
       </section>
      </section>
      <section>
       
   <section id="about" class="about section-paddings">
    <div class="containerss">
     <div class="row">
       <div class="col">
         <div class="back">
           <img  class="fff"src="https://www.georgetown.edu/wp-content/uploads/2019/09/20181030_UndergradScienceLab-3581-1800x1013-c--shadow-default.jpg;"style="height=100px,width: 180px;"alt=""class="img-fluid">
           <h1><center></h1>
             </center>         
          </div>
       </div>
       <div class="col">
         <div class="back">
           <img  class ="fff"src="https://www.georgetown.edu/wp-content/uploads/2019/09/20190429_UndergradStock-0080-e1568987296774-1800x1013-c--shadow-default.jpg"style="height=100px,width: 180px;"alt=""class="img-fluid">
           <h1><center></h1>
             
             </center>
         </div>
       </div>
       <div class="col">
        <div class="back">
          <img  class ="fff"src="https://www.georgetown.edu/wp-content/uploads/2019/09/20180605_GUPolitics_MexicoTrip-178-1800x1013-c--shadow-default.jpg;"style="height=100px,width: 180px;"alt=""class="img-fluid">
          <h1><center></h1>
            
            </center>
        </div>
      </div>
     </div>
   </div>
 </div>
</section >
<script>



  function show()
  {
    im = document.getElementById("im")
    vid = document.getElementById("vid")
 
    im.style.display = "none"
    vid.style.display = "block"
    vid.play();
       alert("jihcisdhi")
  }
  function show1()
  {
    im = document.getElementById("im1")
    vid = document.getElementById("vid1")
 
    im.style.display = "none"
    vid.style.display = "block"
    vid.play();
       alert("jihcisdhi")
  }
 </script>
 <%- include('./footer.ejs') %>

   
